Options -MultiViews -Indexes
RewriteEngine On

# Ne pas réécrire les fichiers/dossiers qui existent
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout passe par index.php
RewriteRule ^(.*)$ index.php [QSA,L]
